.container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;


  &_pad_top {
    padding-top: 60px;
  }

  &_pad_bottom {
    padding-bottom: 60px;
  }
}

.child {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

