.bb_tf_container {
  height: 90px;
  width: 305px;
  position: relative;

  .bb_tf-text {
    margin-bottom: 11px;
  }

  .bb_tf-input-text {
    height: 40px;
    width: 305px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 20px;
    font-family: SF Display, serif;
    font-size: 15px;
    color: #2A2A2B;

    &-error {
      background: linear-gradient(0deg, rgba(186, 67, 67, 0.5), rgba(186, 67, 67, 0.5));
      border: 1px solid #BA4343;
      color: #FFFFFF;
    }



    &:active {
      filter: brightness(120%);
    }

    &:focus {
      outline: none;
      filter: brightness(110%);
      border-color: #f68c25;
    }
  }
  .bb_tf_helper_text_red {
    color: #FFF;
    font-size: 13px;
  }
}

