.rectangle_layout {
  height: 60px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.noun_ball_image {
  height: 25px;
  width: 25px;
  position: absolute;
  display: block;
  vertical-align: top;
  left: 0;
  margin-left: 19px;
  background-color: #0A0A0A;
  margin-top: 18px;
}

.chevron {
  height: 25px;
  width: 24px;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  margin-top: 18px;
  margin-right: 26px;
  color: #0A0A0A;
  font-family: "SF Display";
  font-size: 21px;
  font-weight: 500;
}