
.countries-container {

  .favourites{
    margin-top: 10px;
    height:20px;
    text-align: left;
    padding-left: 15px;

    &.text11-grey{
      color: #999;
      font-family: "SF Display";
      font-size: 11px;
      font-weight: 500;
  }

}

  .country-field {
    border: 1px solid #2A2A2B;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    background-color: #1F2022;

    .text18 {
      text-align: center;
      vertical-align: middle;
    }

    .flag-container {
      width: 85px;
      padding: 22px 10px 14px 5px;

      .flag {
        width: 50px;
        border-radius: 50%;
        position: relative;
      }
    }

    .country-info {
      position: relative;
      display: block;
      height:80px;
      width:200px;

      .leagues-info {
        display: block;
        position: absolute;
        left: 0;
        top: 11px;
        width: 57px;

        .text11-grey{
          left:0;
        }

      }

      .dataname-info {
        display: flex;
        position: absolute;
        left: 0;
        top: 32px;
        height: auto;
        width: 200px;
      }

      .number-matches-info {
        display: block;
        position: absolute;
        left: 0;
        bottom: 11px;
        width: 64px;
      }
    }


  }
}
