.leagues-container {
  overflow: hidden;

  .league-field {
    border: 1px solid #2A2A2B;
    height: 80px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    background-color: #1F2022;

    .leagues-info {
    padding-left:10px;
    margin: auto 0;
    text-align: left;

      .dataname-info {
          display:block;

      }

      .number-matches-info {
        display:block;
      }
    }

    .league_favorite_action {
      right: 25px;
      position: absolute;
      padding-top: 25px;
      cursor: pointer;
      display: flex;

      .league_favorite_action_label.MuiFormControlLabel-root {
        margin-right: 0px;
        margin-left: 0px;;
      }

      .star {
        &_checked {
          svg {
            path {
              fill: #f68c25;
              stroke: #f68c25;
            }
          }
        }
      }
    }

    .text18 {
      text-align: center;
      vertical-align: middle;
    }

    .logo-container {
      position: relative;
      width: 85px;
      background: linear-gradient(to right, #ffffff 0%,#1F2022 100%);

      .logo {
        width: 60px;
        height: 60px;
        padding: 11px 10px 14px 5px;
      }
    }
  }
}
