.leagues-container {
  overflow: hidden;
  margin-top: 10px;

  .league-field {
    border: 1px solid #2A2A2B;
    height: 80px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    background-color: #1F2022;

    .leagues-info {
      position: relative;
      display: block;

      .league-name {
        margin-top: 20px;
        display: flex;
        align-items: center;
        position: relative;


        .text18-white {
          font-size: 16px;
          position: relative;
          line-height: 2.7;
        }
      }

      .league-info {
        padding-top: 13px;
        display: flex;
        left: 0;
        align-items: center;
        color: white;
        font-family: "SF Display";

      }

      .dataname-info {
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 32px;
      }

      .number-matches-info {
        display: block;
        position: absolute;
        left: 0;
        bottom: 11px;
      }
    }

    .league_favorite_action {
      right: 25px;
      position: absolute;
      padding-top: 25px;
      cursor: pointer;
      display: flex;

      .league_favorite_action_label.MuiFormControlLabel-root {
        margin-right: 0px;
        margin-left: 0px;;
      }

      .star {
        &_checked {
          svg {
            path {
              fill: #f68c25;
              stroke: #f68c25;
            }
          }
        }
      }
    }

    .text18 {
      text-align: center;
      vertical-align: middle;
    }

    .logo-container {
      position: relative;
      width: 85px;

      .logo {
        width: 60px;
        height: 60px;
        padding: 11px 10px 14px 5px;
      }
    }
  }
}
