
  .main-content {
    position: relative;
    padding-top: 50px;
    overflow: scroll;
    margin-bottom: 4px;
    padding-bottom: 50px;
    margin-top: 50px;

    .favourite-league {
      width:100%;
      .favourite-league-container{
        display:flex;
      }
      .last-week{
        width:33%;

        display:block;
      }

      .logo {
        width:33%;
        .league-logo {
          width: 50px;
        }
      }
      .current-week{
        width:33%;
        display:block;
      }
    }
  }

