.betbook-logo{
  background-image: url("assets/images/betbook-logo.PNG");
  background-size: cover;
  height:100px;
}

.welcome-text{
  height: 30px;
  font-size: 20px;
  color:#FFFFFF;
  margin: 15px 0;
  font-family: 'SF Display';
}

  .main-content {
    position: relative;
    padding-top: 50px;
    overflow: scroll;
    margin-bottom: 4px;
    padding-bottom: 50px;

    .favourite-league {
      width:100%;
      height: 120px;

      .favourite-league-container{
        display:flex;

      }
      .last-week{
        width:33%;

        display:block;
      }

      .logo {
        width:33%;
        .league-logo {
          width: 50px;
        }
      }
      .current-week{
        width:33%;
        display:block;
      }
    }
  }

