.betbook_screen {
  height: 667px;
  width: 375px;
  background-color: #FFFFFF;;
  position: relative;
  text-align: center;

  .login_layout {
    position: relative;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: block;


    .step_input_container {

      .step_input_label {
        color: #0A0A0A;
        font-family: "SF Display";
        font-size: 17px;
        font-weight: 500;
      }

      .step_input {
        color: #0A0A0A;
        font-family: "SF Display";
        font-size: 17px;
        font-weight: 500;
      }

      .step_input_error {
        visibility: hidden;
      }

      &_error {
        .step_input_error {
          visibility: visible;
          font-family: SF Display;
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #d65b4d;
          margin-left: 21px;
          margin-top: 10px;
          display: block;

        }
      }

      &_error {
        .step_input_label {
          font-family: SF Display;
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: #d65b4d;
          position: relative;
          left: 23px;
          display: block;
        }
      }

      .step_input:focus {
        outline: none;
        border: solid 1px #86cfca;
        background-color: #ffffff;
      }

      &_error {
        .step_input {
          width: 100%;
          height: 58px;
          border-radius: 9px;
          background-color: #ffffff;
          display: block;
          margin-top: 7px;
          font-family: SF Display;
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          position: relative;
          padding-left: 22px;
          border: solid 1px #d65b4d;
        }

        .step_input:focus {
          outline: none;
          border-radius: 9px;
          border: solid 1px #d65b4d;
          background-color: #ffffff;
        }
      }

    }

  }

  .error {

    .containerImage {
      background-color: #f7f7f8;

      .s2_left-content {
        position: relative;
        text-align: center;
        display: block;
        height: 100%;

        .s2_one_step {
          position: relative;
          padding-top: 195px;

          .s2_one-step-closer {
            font-family: SF Display;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #3c5060;
            display: block;
            position: relative;

          }

          .s2_smoother-operations {
            font-family: SF Display;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #6dc7ba;
            display: block;
            position: relative;
            line-height: 35px;
          }
        }

        .s2_image1 {
          position: absolute;
          bottom: 0px;
          left: 50%;
          margin-left: -294px;
          display: block;
        }
      }
    }

    .containerContent {

      .s2_right-content {
        position: relative;
        padding: 57px 120px 202px 131px;
        text-align: center;
        display: block;

        .s2_image2 {
          position: relative;
          display: block;
        }

        .s2_content_lets_get_to_know {
          position: relative;
          display: block;
          margin-top: 131px;

          .s2_lets_get_to_know {
            font-family: SF Display;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #3c5060;

          }
        }

        .step_input_container {
          .step_input_label {
            color: #d65b4d;
          }

          .step_input {
            border: 1px solid #d65b4d;

            &:focus {
              outline: none;
              border-radius: 9px;
              box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
              border: solid 1px #d65b4d;
              background-color: #ffffff;
            }
          }
        }

      }


    }


  }
}