.betbook_screen {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  display: block;

  .main-titlle-field {
    height: 20px;
    width: 100%;
    box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #151516;

    .ft_text_position {
      position: relative;
      text-align: center;
    }
  }

  .column-with-2-field {
    position: relative;
    display: flex;
    justify-content: center;

    .bid-1-field {
      height: 52px;
      width: 50%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      margin-top: 1px;
      cursor: pointer;
    }


    .bid-2-field {
      height: 52px;
      width: 50%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      border-left: 0.5px solid #cfcfcf;
      cursor: pointer;
    }

    .col-3_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-grey {
        color: #CFD1D4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }

    }

    .col-3_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      .text12 {
        color: #47B1E4;
      }
      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .bided {
      background-color: #2F8FBD;
    }

    .col-2_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-grey {
        color: #CFD1D4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .col-2_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      margin-left: 30px;

      .text12 {
        color: #47B1E4;
      }

      .text12-white {
        color: #FAFAFA;
      }
    }
  }

  .column-with-3-field {
    position: relative;
    display: flex;
    justify-content: center;


    .text12-grey {
      color: #FFF;
    }

    .bid-1-field {
      height: 52px;
      width: 33.3%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .bid-2-field {
      height: 52px;
      width: 33.3%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      border-left: 0.5px solid #cfcfcf;
      border-right: 0.5px solid #cfcfcf;
      cursor: pointer;
    }

    .bided {
      background-color: #2F8FBD;
    }

    .col-3_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-grey {
        color: #CFD1D4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .col-3_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #47B1E4;
      }
      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }
  }

  .column-with-4-field {
    position: relative;
    display: flex;
    justify-content: center;

    .bid-1-field {
      height: 52px;
      width: 25%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .bided {
      background-color: #2F8FBD;
    }

    .col-3_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-grey {
        color: #CFD1D4;
      }
      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .col-3_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      .text12 {
        color: #47B1E4;
      }
      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .bid-2-field {
      height: 52px;
      width: 25%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      border-left: 0.5px solid #cfcfcf;
      border-right: 0.5px solid #cfcfcf;
      cursor: pointer;
    }

    .bided {
      background-color: #2F8FBD;
    }

    .col-3_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-grey {
        color: #CFD1D4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .col-3_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;


      .text12 {
        color: #47B1E4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .bid-3-field {
      height: 52px;
      width: 25%;
      background-color: #FAFAFA;
      position: relative;
      display: inline-block;
      border-right: 0.5px solid #cfcfcf;
      cursor: pointer;
    }

    .bided {
      background-color: #2F8FBD;
    }

    .col-3_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-grey {
        color: #CFD1D4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }

    }

    .col-3_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      .text12 {
        color: #47B1E4;
      }
      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }

    .col-4_game-field {
      position: absolute;
      left: 0;
      margin-left: 11%;
      display: inline-block;
      margin-top: 15px;

      .text12 {
        color: #9B9B9B;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }
    .col-4_bid-field {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      margin-left: 30px;

      .text12 {
        color: #47B1E4;
      }

      .text12-white {
        color: #FAFAFA;
        font-weight: 400;
      }
    }
  }

  .match-details-field {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top:60px;
    background-color: #151516;

    .md_league-week-details {
      height: 20px;
      width: 100%;
      position: absolute;
      display: block;
    }

    .md_home-team-field {
      height: 95px;
      width: 120px;
      position: relative;
      display: inline-block;
      background-color: #FFF;
      margin-top: 15px;
      .logo{
        width:63px;
      }
    }

    .md_date-time-vs-field {
      height: 100%;
      width: 60px;
      position: relative;
      display: inline-block;

      .vs-datetime-field-result {
        margin-top: 35px;
        position: relative;
      }

      .minuteLive {
        margin-top: 25px;
        position: relative;
        display: block;
        left: 50%;
        margin-left: -60px;

      }

      .text18-red-field {
        color: red;
      }

      .vs-datetime-field {
        margin-top: 35px;

        .vs-datetime-field-result {
          margin-top: 35px;
          visibility: visible;


          &_result {
            .vs-datetime-field-result {
              visibility: hidden;
            }
          }
        }
      }

      .time-date-field {
        position: absolute;
        bottom: 10px;
        margin-bottom: 20px;
        left: 50%;
        margin-left: -35px;
      }

      .location-field {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -25px;

      }
    }

    .md_away-team-field {
      height: 95px;
      width: 120px;
      position: relative;
      display: inline-block;
      background-color: #FFF;
      margin-top: 15px;
      .logo{
        width:63px;
      }
    }

    .place-field {
      margin-top: 4px;
    }
  }

  .scrolable-bids-field {

    overflow: scroll;
    margin-bottom: 50px;

    .full-time-result-field {
      width: 100%;
      background-color: #FFF;
    }

    .match-goals-field {
      width: 100%;

    }

    .both-teams-goals-field {
      width: 100%;

    }

    .ht-ft-result-field {
      width: 100%;
    }
  }

  .green {
    background-color: #7ED321;
  }

  .red {
    background-color: #EC3B51;
  }
}


.hidden {
  display: none;
}

