.betbook-context {
  padding: 0 15px 70px;

  .betbook_screen {
    height: 100%;
    width: 100%;
    background-color: #151516;
    position: relative;
    text-align: center;
    display: block;

    .match-details-field {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: #151516;
      margin-top: 60px;
      margin-bottom: 30px;

      .md_league-week-details {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
      }

      .md_league_match_fixture {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;

        .md_home-team-field {
          position: relative;
          display: inline-block;

          .logo {
            position: relative;
            height: 60px;
            width: 60px;
          }
        }

        .md_vs-field {
          margin-top: 15px;
          display: block;
          width: 40%;
          position: relative;
          line-height: 30px;
        }

        .md_away-team-field {
          position: relative;
          display: inline-block;

          .logo {
            position: relative;
            height: 60px;
            width: 60px;
          }
        }
      }
    }

    .main-titlle-field {
      height: 25px;
      width: 100%;
      position: relative;
      background-color: #151516;

      .ft_text_position {
        position: relative;
        text-align: center;
      }

      .bided {
        background-color: #1E8FE1;
      }

      .game-underline {
        height: 0.5px;
        background-color: #FFF;
        opacity: 0.15;
        width: 120px;
        margin: 5px auto;
        border-radius: 4px;
      }
    }

    .scrolable-bids-field {
      .md_bid-box {
        position: relative;
        background-color: #151516;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .bid-field {
          height: 36px;
          width: 105px;
          border: 1px solid #2A2A2B;
          border-radius: 20px;
          background-color: #212122;
          margin: 5px;
          flex: 1;
        }

        .game-bid-align {
          position: relative;
          display: flex;
          height: 100%;
          justify-content: space-around;
          align-items: center;
        }

        .bided {
          background-color: #122F3F;
          border: 1px solid #47B0E3;
        }

        .green {
          background-color: #1A281D;
          border: 1px solid #43BA58;
        }

        .red {
          background-color: #31190F;
          border: 1px solid #BA4343;
        }
      }
    }
  }
}


.hidden {
  display: none;
}

