.betbook_context {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  display: block;

  .pt_header-field {
    height: 237px;
    width: 100%;
    position: relative;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7db9e8 0%, #1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7db9e8 0%, #1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0); /* IE6-9 */


    .pt_header-central-field {
      position: relative;

      .first-row {
        display: flex;
        align-items: center;

        .settings {
          margin-left:15px;
          height: 15px;
          width: 15px;
        }

        .search {
          margin-right:15px;
          height: 15px;
          width: 15px;
        }
      }


      .pt_member-name {
        padding-top: 19px;
        width: 100%;
        text-align: center;

        .text18-white {
          color: #FFF;
          font-family: "SF Display";
          font-size: 18px;
          font-weight: 500;
        }
      }

      .pt_country {
        margin-top: 12px;
        margin-bottom: 25px;
        width: 100%;

        .text12 {
          color: #9B9B9B;
        }
      }

      .pt_image-field {
        margin: 0 auto;
        height: 110px;
        width: 110px;
        position: relative;
        z-index: 0;
      }

      .pt_tickets {
        margin-top: 25px;

        .text14-tickets {
          color: #0A0A0A;
          font-family: "SF Display";
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }

  }

  .scrolable-bids-field {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-bottom: 60px;
  }

  .main-titlle-field {
    height: 25px;
    width: 100%;
    position: relative;
    background-color: #151516;

    .ft_text_position {
      position: relative;
      text-align: center;
    }

    .bided {
      background-color: #1E8FE1;
    }

    .game-underline {
      height: 0.5px;
      background-color: #FFF;
      opacity: 0.15;
      width: 120px;
      margin: 5px auto;
      border-radius: 4px;
    }
  }

  .pt_statistics-text {
    margin-top: 80px;
    margin-bottom: 20px;

    .text18-white {
      color: #FFF;
      font-family: "SF Display";
      font-size: 18px;
      font-weight: 500;
    }
  }

  .full-time-statistics-field {
    height: 114px;
  }

  .match-goals-statistics-field {
    height: 114px;
  }

  .both-teams-goals-statistics-field {
    height: 114px;
  }

  .ht-ft-statistics-field {
    height: 114px;
  }


  .pt_yellow-bet-box {
    height: 26px;
    width: 27.5%;
    position: absolute;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(180deg, #FFAC3A 0%, #EB670C 100%), #ED8035;
  }


  .pt_box {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 17px;

    .pt_up-text {
      position: relative;
      display: block;
    }

    pt_down-number {
      position: relative;
      display: block;
    }

    .pt_left-box {
      position: relative;
      display: inline-block;
    }

    .pt_central-box {
      position: relative;
      display: inline-block;
    }

    .pt_right-box {
      position: relative;
      display: inline-block;
    }
  }
}


  .hidden {
    display: none;
  }

  @media only screen and (max-width: 260px) {
    #root {
      .App {
        .ft_text_position {
          position: absolute;
          left: 10px;
        }

        .pt_yellow-bet-box {
          width: 40%;
        }
      }
    }
  }


