.betbook_screen {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  display: block;

  .pt_header-field {
    height: 260px;
    width: 100%;
    position: relative;
    background-color: #FFF;

    .pt_header-left-arrow-field {
      position: absolute;
      left: 0;
      margin-left: 5%;
      top: 0;
      margin-top: 3%;
    }

    .pt_header-central-field {
      position: relative;
      margin-top: 15px;

      .pt_member-name {
        margin-top: 15px;
      }

      .pt_member-since {
        margin-top: 7px;

        .text12 {
          color: #9B9B9B;
        }
      }

      .pt_tickets {
        margin-top: 25px;

        .text14-tickets {
          color: #0A0A0A;
          font-family: "SF Display";
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }

    .pt_header-right-settings-field {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 5%;
      margin-top: 3%;
    }
  }


  .pt_homescreen {
    position: relative;
    height: 300px;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  }

}


.hidden {
  display: none;
}

