//.betbook_context {
//  height: 100%;
//  width: 100%;
//  position: relative;
//  text-align: center;
//  display: block;
//  overflow: scroll;

  .scrolable-bids-field {
    padding-top: 20px;
    width: 100%;
    height: auto;
    overflow: scroll;
  }

  .main-title-field {
    height: 25px;
    width: 100%;
    position: relative;
    background-color: #151516;

    .ft_text_position {
      z-index: 1;
      position: relative;
      text-align: center;
    }

    .bided {
      background-color: #1E8FE1;
    }

    .game-underline {
      height: 0.5px;
      background-color: #FFF;
      opacity: 0.15;
      width: 120px;
      margin: 5px auto;
      border-radius: 4px;
    }
  }

  .pt_statistics-text {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .full-time-statistics-field {
    height: 114px;
  }

  .match-goals-statistics-field {
    height: 114px;
  }

  .both-team-goal-statistics-field {
    height: 114px;
  }

  .ht-ft-statistics-field {
    height: 114px;
  }


  .pt_yellow-bet-box {
    height: 26px;
    width: 27.5%;
    position: absolute;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(180deg, #FFAC3A 0%, #EB670C 100%), #ED8035;
    line-height: 26px;
    a{
      display: flex;
      .text11-white{
        margin:auto
      }
    }
  }

  .pt_box {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 17px;

    .pt_up-text {
      position: relative;
      display: block;
    }

    .pt_left-box {
      position: relative;
      display: inline-block;
    }

    .pt_central-box {
      position: relative;
      display: inline-block;
    }

    .pt_right-box {
      position: relative;
      display: inline-block;
    }
  }
//}

.hidden {
  display: none;
}

@media only screen and (max-width: 260px) {
  #root {
    .App {
      .ft_text_position {
        position: absolute;
        left: 10px;
      }

      .pt_yellow-bet-box {
        width: 40%;
      }
    }
  }
}


