.header {
  position: relative;
  height: 60px;
  background-color: #1F2022;


  .header_title {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  .header_with_subtitle {
    line-height: 30px;
  }

  .header_subtitle {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .header_left_icon {
    position: absolute;
    left: 5%;
    top: 30%;
    transform: rotate(180deg);
  }

  .header_right_icon {
    position: absolute;
    right: 5%;
    top: 30%;
  }
}
