.betbook_screen {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  display: block;

  .main-content {
    position: relative;
    padding-top: 50px;
    overflow: scroll;
    margin-bottom: 4px;
    padding-bottom: 50px;
  }
.week-games{
  margin-bottom:50px;
}

}