.betbook_screen {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  display: block;

  .main-content {
    position: relative;
    overflow: scroll;
    padding-bottom: 60px;
  }


}