.bb_fp_dont_worry_text {
  margin-bottom: 25px;
}

.bb_fp_sent_email_text {
  margin: 0 auto;
  height: 124px;
  width: 180px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #FFF;
}
