.betbook-screen-login {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background: linear-gradient(to bottom, #131313 0%, #1c1c1c 0%, #111111 0%, #000000 0%, #2c2c2c 0%, #111111 0%, #000000 0%, #2b2b2b 1%, #111111 1%, #898989 99%, #666666 100%, #4c4c4c 100%);
  text-align: center;


  .betbook-logo-box {
    position: absolute;
    top: 196px;
    left: 50%;
    margin-left: -87px;
  }

  .main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 81px;

    .bs-user-container {
      height: 80px;
      width: 305px;
      position: absolute;
      bottom: 0;
      margin-bottom: 340px;
      left: 50%;
      margin-left: -152.5px;

      .bs-username-text {
        margin-bottom: 11px;
      }

      .bs-username-box {
        height: 40px;
        width: 305px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 25px;
        padding-left: 20px;
        font-family: SF Display;
        font-size: 15px;
        color: #2A2A2B;
      }
    }


    .bs-email-container-forgot-password {
      height: 80px;
      width: 305px;
      position: absolute;
      bottom: 0;
      margin-bottom: 180px;
      left: 50%;
      margin-left: -152.5px;

      .bs-email-text {
        margin-bottom: 11px;
      }

      .bs-text-under-password {
        margin-top: 24px;
      }

      .bs-email-box {
        height: 40px;
        width: 305px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 25px;
        padding-left: 20px;
        font-family: SF Display;
        font-size: 15px;
        color: #2A2A2B;
      }
    }

    .bs-email-container {
      height: 80px;
      width: 305px;
      position: absolute;
      bottom: 0;
      margin-bottom: 260px;
      left: 50%;
      margin-left: -152.5px;

      .bs-email-text {
        margin-bottom: 11px;
      }

      .bs-email-box {
        height: 40px;
        width: 305px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 25px;
        padding-left: 20px;
        font-family: SF Display;
        font-size: 15px;
        color: #2A2A2B;
      }
    }

    .bs-password-container {
      height: 80px;
      width: 305px;
      position: absolute;
      bottom: 0;
      margin-bottom: 180px;
      left: 50%;
      margin-left: -152.5px;

      .bs-password-text {
        margin-bottom: 11px;
      }

      .bs-password-box {
        height: 40px;
        width: 305px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 25px;
        padding-left: 20px;
        font-family: SF Display;
        font-size: 15px;
        color: #2A2A2B;
      }

      .bs-text-under-password {
        margin-top: 24px;
      }
    }

    .bs-create-account-box {
      position: absolute;
      display: block;
      height: 50px;
      width: 305px;
      bottom: 0;
      margin-bottom: 64px;
      background: linear-gradient(180deg, #FEA938 0%, rgba(255, 171, 58, 0) 100%), #EA6309;
      border-radius: 25px;
      left: 50%;
      margin-left: -152.5px;


      .text18-white {
        line-height: 2.8;
      }
    }

    .bs-i-already-have-an-account-box {
      position: absolute;
      display: block;
      height: 40px;
      width: 200px;
      bottom: 0;
      border-radius: 25px;
      border: 1px solid white;
      left: 50%;
      margin-left: -100px;
    }
  }

}


@media only screen and (max-height: 675px) {
  #root {
    .App {
      .betbook-logo-box {
        top: 105px;
      }

      .main-container {
        height: 100%;
      }
    }
  }
}

@media only screen and (max-height: 580px) {
  #root {
    .App {
      .betbook-logo-box {
        display: none;
      }

      .main-container {
        height: 100%;
      }
    }
  }
}
