.betbook-context {
  text-align: initial;

  .main-container {

    .personal-info {
      height: 20px;
      width: 100%;
      background-color: #151516;
      border-bottom: 1px solid #2A2A2B;
      display: flex;
      justify-content: space-between;

      .edit{
        padding-right: 15px;
        margin: auto 0;
      }

      .text11-grey {
        padding-left:15px;
        margin: auto 0;
      }
    }

    .settings-box {
      height: 80px;
      width: 100%;
      border-bottom: 1px solid #2A2A2B;
      display: flex;

      .settings-text {

        width: auto;
        margin: auto 0;

        .text17-red {
          padding-left:15px;
        }

        .up-text {
          padding-left:15px;

          .text11-grey {
          }
        }

        .down-text {
          padding-left: 15px;
          padding-top: 10px;

          .text17-white {
          }
        }

        .edit-text {
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}