.bb_hs_logo {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -50px;
  background-image: url("../../betbook/assets/images/logo_bg.svg");
  width: 100px;
  height: 120px;


  .bb_hs_league-logo {
    max-width: 70px;
    max-height: 50px;
    margin-top: 10px;
    object-fit: contain;
    margin-left: 25%;
  }

  .hs_league_name {
    height: 32px;
    width: 70px;
    margin: 0 auto;
    text-align: center;
  }
}