.betbook-logo-box {
  position: relative;
  height: auto;
  width: auto;
  text-align: center;

  img{
    max-height: 59px;
    height: 100%;
  }
}

@media only screen and (max-height: 650px) {
  .betbook-logo-box {
    padding-top: 50px !important;
  }
}
