.loader-box {
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url("../../betbook/assets/images/spinner-loader.gif");
  background-size: cover;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  }