.rectangle_footer {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1F2022;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .active {
    background-color: orangered;
  }


  .ft_home-field {
    position: relative;
    width: 25%;


    .timeline {
      background-image: url("../assets/images/timeline.svg");
      background-size: cover;
      height: 24px;
      width: 19px;
      margin: 0 auto;


      .text10-white {
        line-height: 7;
      }
    }
  }

  .ft_countries-field {
    position: relative;
    width: 25%;

    .ball {
      background-image: url("../assets/images/ball.svg");
      background-size: cover;
      height: 25px;
      width: 25px;
      margin: 0 auto;


      .text10-white {
        line-height: 7;
      }
    }
  }

  .ft_star-field {
    position: relative;
    width: 25%;

    .star {
      background-image: url("../assets/images/star_final.svg");
      background-size: cover;
      height: 25px;
      width: 25px;
      margin: 0 auto;


      .text10-white {
        line-height: 7;
      }
    }
  }

  .ft_profile-field {
    position: relative;
    width: 25%;

    .profile {
      background-image: url("../assets/images/profile_final.svg");
      background-size: cover;
      height: 25px;
      width: 25px;
      margin: 0 auto;


      .text10-white {
        line-height: 7;
      }
    }
  }

  .active {
    height: 80px;
    background: linear-gradient(180deg, #FFAB39 0%, rgba(255, 255, 255, 0) 100%), #E86107;
    box-shadow: 0 0 20px #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    a {
      text-decoration: none;
    }

    .ball {
      margin-top: 14px;
    }

    .star {
      margin-top: 14px;

      .center-text {
        position: relative;
        display: block;
        left: 50%;
        margin-left: -20px;
      }
    }

  }

  .active-timeline {
    height: 80px;
    background: linear-gradient(180deg, #FFAB39 0%, rgba(255, 255, 255, 0) 100%), #E86107;
    box-shadow: 0 0 20px #000000;
    border-top-right-radius: 10px;

    a {
      text-decoration: none;
    }

    .ball {
      margin-top: 14px;
    }

    .timeline {
      margin-top: 14px;

      .center-text {
        position: relative;
        display: block;
        left: 50%;
        margin-left: -14px;
      }
    }
  }

  .active-profile {
    height: 80px;
    background: linear-gradient(180deg, #FFAB39 0%, rgba(255, 255, 255, 0) 100%), #E86107;
    box-shadow: 0 0 20px #000000;
    border-top-left-radius: 10px;

    a {
      text-decoration: none;
    }

    .profile {
      margin-top: 14px;
    }
  }


}
