.rectangle_footer {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1F2022;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;


  .timeline {
    background-repeat: no-repeat;
    background-image: url("../assets/images/timeline_dark.PNG");
    height: 100%;
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .ball {
    background-repeat: no-repeat;
    background-image: url("../assets/images/ball_dark.PNG");
    height: 100%;
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .star {
    background-repeat: no-repeat;
    background-image: url("../assets/images/star_dark_footer.PNG");
    height: 100%;
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .profile {
    background-repeat: no-repeat;
    background-image: url("../assets/images/profile_dark.PNG");
    height: 100%;
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }


}

.bet-slip-field-blue {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  height: 60px;
  width: 100%;
  background-color: #2F8FBD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .bet-slip-left {
    position: absolute;
    left: 15%;
    margin-top: 20px;


    .bet-text-field {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 55px;
    }


    .white-circle {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      background-color: #FFF;
      border-radius: 10px;

      .number-played-games-field {
        position: relative;
        margin-left: 10px;


        .text14-white {
          color: #FFF;
        }
      }
    }
  }

  .text14-footer {
    color: #2F8FBD;
    font-family: "SF Display";
    font-size: 13px;
    font-weight: 500;
  }

  .text14-white {
    color: #FFF;
    font-family: "SF Display";
    font-size: 14px;
    font-weight: 500;
  }


  .bet-slip-right {

    position: absolute;
    right: 15%;
    margin-top: 15px;


    .multiple-field {
      display: block;

      .text14-white {
        color: #FFF;
        font-family: "SF Display";
        font-size: 12px;
        font-weight: 400;
      }
    }

    .sum-field {
      display: block;
    }
  }
}

.bet-slip-field-grey {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  height: 60px;
  width: 100%;
  background-color: gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .bet-slip-left-middle {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    margin-left: -50px;


    .bet-text-field {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 100px;
    }


  }

  .text14-footer {
    color: #2F8FBD;
    font-family: "SF Display";
    font-size: 13px;
    font-weight: 500;
  }

  .text14-white {
    color: #FFF;
    font-family: "SF Display";
    font-size: 14px;
    font-weight: 500;
  }


}

.bet-slip-field-red {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  height: 60px;
  width: 100%;
  background-color: #EC3B51;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .bet-slip-left-middle {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    margin-left: -50px;


    .bet-text-field {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 100px;
    }


  }

  .text14-footer {
    color: #2F8FBD;
    font-family: "SF Display";
    font-size: 13px;
    font-weight: 500;
  }

  .text14-white {
    color: #FFF;
    font-family: "SF Display";
    font-size: 14px;
    font-weight: 500;
  }


}

.bet-slip-field-green{
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  height: 60px;
  width: 100%;
  background-color: #7ED321;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .bet-slip-left-middle {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    margin-left: -50px;


    .bet-text-field {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 100px;
    }


  }

  .text14-footer {
    color: #2F8FBD;
    font-family: "SF Display";
    font-size: 13px;
    font-weight: 500;
  }

  .text14-white {
    color: #FFF;
    font-family: "SF Display";
    font-size: 14px;
    font-weight: 500;
  }


}