.rectangle_footer {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1F2022;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .active {
    background-color: orangered;
  }

  .ft_home-field {
    position: relative;
    width: 25%;

    .timeline {
      background-image: url("../assets/images/timeline_dark.PNG");
      background-size: cover;
      width: 41px;
      height: 37px;
      margin: 0 auto;
    }
  }

  .ft_countries-field {
    position: relative;
    width: 25%;

    .ball {
      background-image: url("../assets/images/ball_dark.PNG");
      width: 44px;
      height: 38px;
      margin: 0 auto;
    }
  }

  .ft_star-field {
    position: relative;
    width: 25%;

    .star {
      background-image: url("../assets/images/star_final.svg");
      background-size: cover;
      height: 30px;
      width: 32px;
      margin: 0 auto;
    }
  }

  .ft_profile-field {
    position: relative;
    width: 25%;

    .profile {
      background-image: url("../assets/images/profile_final.svg");
      background-size: cover;
      height: 38px;
      width: 39px;
      margin: 0 auto;
    }
  }

  .active{
    height: 80px;
    background: linear-gradient(180deg, #FFAB39 0%, rgba(255, 255, 255, 0) 100%), #E86107;
    box-shadow: 0 0 20px #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .active-timeline{
    height: 80px;
    background: linear-gradient(180deg, #FFAB39 0%, rgba(255, 255, 255, 0) 100%), #E86107;
    box-shadow: 0 0 20px #000000;
    border-top-right-radius: 10px;
  }

  .active-profile{
    height: 80px;
    background: linear-gradient(180deg, #FFAB39 0%, rgba(255, 255, 255, 0) 100%), #E86107;
    box-shadow: 0 0 20px #000000;
    border-top-left-radius: 10px;
  }



}