.text14 {
  color: #0A0A0A;
  font-family: "SF Display";
  font-size: 14px;
  font-weight: 500;
  line-height: 60px;
}

.rectangle_header {
  height: 60px;
  width: 100%;
  background-color: #1F2022;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 1;

  .header-container {
    padding: 19px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chevron_header {
      background-size: cover;
      background-image: url("../assets/images/arrow_left_dark.PNG");
      width: 20px;
      height: 20px;
      cursor: pointer;

      .chevron_text {
        height: 21px;
        width: 12px;
        color: #0A0A0A;
        font-family: "SF Display";
        font-size: 21px;
        font-weight: 500;
      }
    }

    .sport {
      text-align: center;
    }
    .settings{
      background-size: cover;
      background-image: url("../assets/images/ball.png");
      width: 10px;
      height: 18px;
      cursor: pointer;
    }

    .calendar {
      background-size: cover;
      background-image: url("../assets/images/calendar.PNG");
      width: 10px;
      height: 18px;
      cursor: pointer;
    }

    .options{
      background-size: cover;
      background-image: url("../assets/images/podium.PNG");
      width: 10px;
      height: 18px;
      cursor: pointer;
    }
  }
}

.hide{
  display: none;
}