    .text14 {
      line-height: 30px;
    }

    .ms_homeField {
      position: relative;
      display: inline-block;
      margin-right: 5px;

      .logo{
        width: 21px;
        height: 21px;
      }

    }

    .ms_awayField {
      position: relative;
      display: inline-block;
      margin-left: 5px;
      .logo{
        width: 21px;
        height: 21px;
      }
    }

    .ms_resultField {
      position: relative;
      display: inline-block;
    }

  .ms-under-teams-field {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }

